<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzr2YiWfku_8KbK4kDx0Q_UYVyj_HyQ2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>860595738600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kmcapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kmc-citizen-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kmc-citizen-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860595738600:ios:3d077719cfb4e75bf2765d</string>
</dict>
</plist>